@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poooins', sans-serif;
    box-sizing:border-box ;
}
body{
    background: #eef8ff;
}
footer{
    width: 99%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #00aeef , #ed1c24);
    color:#fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px; ;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2) .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom:1px solid #ccc;
    margin:20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    
    color:#fff;
}


form{
padding-bottom: 15px;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #ccc;
margin-bottom: 15px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
for button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;

}
.social-icons .fa-brands{
    width: 30px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left:100%
    }
}



































































































































/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Poppins&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: #1d2b3a;
}
 .input_box{
    position: relative;
    width: 25p0x;
}
.input_box input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: aliceblue;
    font-size: 1em;
}
.input_box span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color:rgba(255,255,255,0.25);
    text-transform: uppercase;
    /* transition: 0.5s; */
/* } */
/* .input_box input:valid ~ span
.input_box input:focus ~ span{

    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

.input_box:nth-child(2) input:valid ~ span
.input_box:nth-child(2) input:focus ~ span{

} */
